.gradle
.idea
**/build
**/bin
*.iml
*.ipr
*.iws
*.ids
**/dataimport.properties
**/.settings
**/.project
**/.classpath
**/*.orig
/out/
**/mmgeo-city.dat*
**/*.css
# created by bumpVersion
version.properties.bck
gradle.properties.bck


zandbox/

sf-client-tests/\.DS_Store

**/out

sf-client-tests/katalon/Reports
sf-client-tests/katalon/bin
sf-client-tests/katalon/Libs
sf-client-tests/katalon/.settings
sf-client-tests/katalon/.classpath
sf-client-tests/katalon/.project
sf-client-tests/katalon/.svn

.DS_Store
data/
sf-client-tests/\.classpath

.run/**/*
/sf-client/conf/dev-env/system.local.properties
.run
**/system.local.properties
**/*.log
**/*.log.*
**/splunk.*
gradlew.bat
.jpb/jpb-settings.xml
jmeter.log

package-lock.json
yarn.lock
node_modules
